body {
    text-align: center;
}

form {
    display: inline-block;
    padding: 1em;
    border: 1px solid #cccccc;
    border-radius: 1em;
}

p + p {
    margin-top: 1em;
}

label {
    display: inline-block;
    min-width: 90px;
    text-align: right;
}

input, textarea {
    font: 1em sans-serif;
    width: 300px;
    border: 1px solid #999999;
}

input:focus, textarea:focus {
    outline-style: solid;
    outline-color: black;
}

textarea {
    vertical-align: top;
    height: 5em;
}

.button {
    padding-left: 90px;
}

button {
    margin-left: .5em;
}

nav {
    margin: 1em 0;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: disc;
    padding-left: 40px;
    text-align: left;
    display: inline-block;
}

ol {
    list-style-type: decimal;
    padding-left: 40px;
    text-align: left;
    display: inline-block;
}
