body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

form {
    margin-bottom: 30x;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding:8px;
    margin-top: 5px;
    box-shadow: border-box;
}

input[tyoe="submit"] {
 margin-top: 15px;  
 background-color: #007BFF;
 color: white;
 border: none;
 cursor: pointer; 
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solde #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #eee;
}